#set(String title = "注册成功")
#tag layout_block("bodyContent")
<div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6">
        <article class="message is-success">
            <div class="message-header">
                <p>注册成功</p>
            </div>
            <div class="message-body">
                已经向您的邮箱 ${email} 发送了一封激活邮件，请注意查收完成激活。
                如不能收到邮件请注意查看垃圾箱，本次激活在2小时内有效。
            </div>
        </article>

    </div>
    <div class="column is-3"></div>
</div>
#end
#include('../layouts/default.html')