#tag layout_block("bodyContent")
<div class="columns">
    <div class="column is-3"></div>
    <div class="column is-6">
        <div class="message is-light">
            <div class="message-header">注册新用户</div>
            <div class="message-body">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="用户名"/>
                        <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                        <!--<span class="icon is-small is-right">-->
                          <!--<i class="fa fa-check"></i>-->
                        <!--</span>-->
                    </div>
                    <!--<p class="help is-success">This username is available</p>-->
                </div>

                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="请输入邮箱"/>
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <!--<span class="icon is-small is-right">-->
                          <!--<i class="fa fa-warning"></i>-->
                        <!--</span>-->
                    </div>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="请输入密码"/>
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="确认密码">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <button class="button is-success">注册</button>
                        <button class="button">登录</button>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="column is-3"></div>
</div>
#end
#include('../layouts/default.html')