<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>安装Roo</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.5.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/roo.css"/>
</head>
<body>
#if(message != null)
<div class="notification is-danger">
    ${message}
</div>
#else
<div class="notification is-info">
    安装xxx
</div>
#end
</body>
</html>