<!--
     ___
    |  _`\
    | (_) )   _      _
    | ,  /  /'_`\  /'_`\
    | |\ \ ( (_) )( (_) )
    (_) (_)`\___/'`\___/'

  ------------------------------------------------
    https://github.com/biezhi/roo

  - Blade : 2.0.1
  - Roo   : 0.0.1
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #if(null == title)
    <title>${settings.site_title}</title>
    #else
    <title>${title} - ${settings.site_title}</title>
    #end
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/webjars/bulma/0.5.0/css/bulma.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/roo.css?v=${version}"/>
</head>
<body>
#include('../partials/header.html')
<div class="container">
    ${bodyContent}
    #include('../partials/footer.html')
</div>
<div id="roo-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        内容
    </div>
    <button class="modal-close is-large"></button>
</div>
<script type="text/javascript" src="/webjars/jquery/2.2.4/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/roo.js?v=${version}"></script>
<script src="/static/js/instantclick.min.js"></script>
<script data-no-instant>
    InstantClick.on('change', function (isInitialLoad) {
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
</script>
${footScript}
</body>
</html>