#set(String title = topic.title)
#tag layout_block("bodyContent")
<div class="columns">
    <div class="column">
        <div class="message is-light">
            <div class="message-header">
                <div class="has-text-left">
                    <div style="padding-bottom: 10px;">
                        <a href="${siteUrl('/go/' + topic.nodeSlug)}">${topic.nodeTitle}</a> /
                        <span style="color: #222527;">${topic.title}</span>
                    </div>
                    <div class="topic-head-meta">
                        <a href="${siteUrl('u/' + topic.username)}"><b>${topic.username}</b></a> · 发布于 <abbr>8 天前</abbr> ·
                        #if(null != topic.replyUser)
                        最后由 <a href="${siteUrl('u/' + topic.replyUser)}"><b>${topic.replyUser}</b></a> 回复于 <abbr>1 天前</abbr> ·
                        #end
                        <span>${topic.views}</span> 次阅读
                    </div>
                </div>
                <div class="has-text-right">
                    <p class="image is-48x48">
                        <a href="${siteUrl('u/' + topic.username)}">
                            <img class="avatar-48" src="${topic.avatar}">
                        </a>
                    </p>
                </div>

            </div>
            <div class="content topic-content">
                ${topic.content}
            </div>
            <div class="message-header topic-footer">
                <div class="has-text-left">
                    <span>13 个赞</span>&nbsp;·&nbsp;
                    <span>收藏</span>&nbsp;·&nbsp;
                    #include('../partials/share.html')
                </div>
            </div>
        </div>

        #if(topic.comments > 0)
        <div class="message is-light">
            <div class="message-header">
                <div class="has-text-left">
                    <div class="topic-head-meta">
                        108 回复  |  最后回复 2017-08-02 16:38:19
                    </div>
                </div>
            </div>
            <div class="content">
                #for(comment : topic.commentList)
                <article id="reply-${comment.coid}" class="media" style="padding: 8px 10px; margin-top:0;">
                    <figure class="media-left" style="padding: 5px 0;">
                        <p class="image is-48x48">
                            <a href="${siteUrl('u/' + comment.author)}">
                                <img class="avatar-48" src="${comment.avatar}">
                            </a>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="topic-head-meta">
                            <a href="${siteUrl('u/' + comment.author)}"><b>${comment.author}</b></a> ·
                            回复于 ${comment.created} · <a href="#reply-${comment.coid}">#${for.index}</a>
                        </div>
                        <div style="margin-top: 10px;">
                            ${comment.content}
                        </div>
                    </div>
                    <div class="media-right" style="line-height: 55px;">
                        <!-- TODO: 回复该评论 -->
                    </div>
                </article>
                #end
            </div>
        </div>
        #end

        #if(null != login_user)
        <div class="message is-light">
            <!--TODO: 评论-->
        </div>
        #else
        <div class="message is-light">
            <div class="message-header">发表评论</div>
            <div class="message-body has-text-centered" style="line-height: 30px;">
                需要 <a class="button is-success is-small" href="${siteUrl('signin')}">登录</a> 后方可回复,
                如果你还没有账号请点击这里 <a class="button is-danger is-small" href="${siteUrl('signup')}">注册</a>
            </div>
        </div>
        #end
    </div>
    #include('../partials/sidebar.html')
</div>
#end

#include('../layouts/default.html')