
<div class="header">
    <nav class="navbar container">
        <div class="navbar-brand">
            <a class="navbar-item" href="${siteUrl()}">
                <img src="/static/images/logo.png" alt="Roo 简洁的"
                     width="112" height="28">
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
              <span class="icon" style="color: #333;">
                <i class="fa fa-github"></i>
              </span>
            </a>

            <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
              <span class="icon" style="color: #55acee;">
                <i class="fa fa-twitter"></i>
              </span>
            </a>

            <div class="navbar-burger burger" data-target="navMenuExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item " href="${siteUrl('topics')}">
                    <span class="emoji">🦌&nbsp;</span>
                    社区
                </a>
                <a class="navbar-item " href="${siteUrl('news')}">
                    <span class="emoji">🤛&nbsp;</span>
                    头条
                </a>
                <a class="navbar-item " href="${siteUrl('jobs')}">
                    <span class="emoji">💁&nbsp;</span>
                    招聘
                </a>
                <a class="navbar-item " href="${siteUrl('wiki')}">
                    <span class="emoji">🎨&nbsp;</span>
                    Wiki
                </a>
                <a class="navbar-item " href="${siteUrl('sites')}">
                    <span class="emoji">❤️&nbsp;</span>
                    酷站
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item search-bar">
                    <form id="search-form">
                        <div class="control has-icons-left">
                            <input class="input" placeholder="搜索本站内容">
                            <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                #if(null == login_user)
                <a class="navbar-item is-hidden-desktop-only" href="${siteUrl('signup')}">
                    注册
                </a>
                <a class="navbar-item is-hidden-desktop-only" href="${siteUrl('signin')}">
                    登录
                </a>
                #else
                <a class="navbar-item is-hidden-desktop-only" href="${siteUrl('notice')}">
                  <i class="fa fa-bell"></i>
                </a>
                <a class="navbar-item is-hidden-desktop-only" href="${siteUrl('topic/new')}">
                    <i class="fa fa-plus"></i>
                </a>

                #end
            </div>
        </div>
    </nav>
</div>
