<div class="column is-one-quarter">
    <div class="message is-light">
        <div class="message-header">Roo - 每日赠言</div>
        <div class="message-body">
            <h6 class="subtitle is-6">世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。—— 斯里兰卡</h6>
        </div>
    </div>
    <div class="message is-light">
        <div class="message-header">Roo - 小而美的极客社区</div>
        <div class="message-body has-text-centered">
            <a class="button is-danger is-outlined">马上注册</a>
            <a class="button is-info is-outlined">登录Roo</a>
        </div>
    </div>
    <div class="message is-light">
        <div class="message-header">捐赠 Roo</div>
        <div class="message-body has-text-centered">
            <img src="/static/images/alipay.jpg" width="320" height="400"/>
        </div>
    </div>
</div>